<head>
    <title>Crusher Pre-Shift Inspection</title>
    <style type="text/css">
        label {
            background-color: pink;
            color: black;
            font-weight: bold;
            padding: 4px;
            text-transform: uppercase;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: xx-small;
        }

        .Element {
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h2>Crusher Pre-Shift Inspection</h2>
    </div>

    @{
        if (ViewBag.SuccessMessage == null)
        {
            <div id="CrusherForm">
                <form id="crusher" method="post" runat="server">
                    <div class="Element">
                        <label for="date">Date:</label>
                        <input type="date" id="date" name="date" min="2022-01-01" value ='@DateTime.Today.ToString("yyyy-MM-dd")' required>
                    </div>
                    <div class="Element">
                        <label for="EquipNo">Equipment Number:</label>
                        <select name="EquipNo">
                            @foreach (var Item in Model.Crusher)
                            {
                                if (Item.Type == "Equipment")
                                {
                                    <option value="@Item.Id">@Item.Data</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="Element">
                        <label for="hourmeter">Hour Meter Reading</label>
                        <input type="number" id="hourmeter" name="hourmeter" min="0" placeholder="0" required>
                    </div>
                    @{
                        int q = 1;
                    }
                    @foreach (var Item in Model.Crusher)
                    {
                        if (Item.Type == "Safety")
                        {
                            string element = "question " + q;
                            q++;
                            <div>
                                <b>@Item.Data</b>
                            </div>
                            <div class="Element">
                                <input type="radio" id="good" name="@Item.Id" value="Good" onclick="change('@element')" required>
                                <label for="good">Good</label>
                                <input type="radio" id="caution" name="@Item.Id" value="Caution" onclick="tag_clicked('@element')">
                                <label for="caution">Caution</label>
                                <input type="radio" id="tag-out" name="@Item.Id" value="Tag-Out" onclick="tag_clicked('@element')">
                                <label for="tag-out">Tag-Out</label>
                                <div style="padding-bottom: 5px">
                                    <input type="text" id="@element" name="@Item.Id" placeholder="Enter Comment" style="display: none;">
                                </div>
                            </div>
                        }
                    }
                    <div class="Element">
                        <label for="dateCorrected">Date Corrected:</label>
                        <input type="date" id="date" name="dateCorrected" min="2022-01-01" value ='@DateTime.Today.ToString("yyyy-MM-dd")' required>
                    </div>
                    <div class="Element">
                        <label for="tagOut">Tag Out Corrected By:</label>
                        <select name="tagOut" required>
                            <option value="" disabled selected>Select your option</option>
                            @foreach (var Item in Model.Crusher)
                            {
                                if (Item.Type == "Employee")
                                {
                                    <option value="@Item.Id">@Item.Data</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="Element">
                        <label for="correctionDesc">Description of Correction Made:</label>
                        <input type="text" id="correctionDesc" name="correctionDesc">
                    </div>
                    <div class="Element">
                        <label for="correctionImg">Image of Correction Made:</label>
                        <input type="file" id="correctionImg" runat="server" name="correctionImg" hidden>
                    </div>
                    <div class="Element">
                        <label for="sign">Digital Signature</label>
                        <input type="text" id="sign" name="sign">
                    </div>
                    <div class="Element">
                        <label for="operatorName">Operators Name:</label>
                        <select name="operatorName" required>
                            <option value="" disabled selected>Select your option</option>
                            @foreach (var Item in Model.Crusher)
                            {
                                if (Item.Type == "Employee")
                                {
                                    <option value="@Item.Id">@Item.Data</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="Element">
                        <label for="dateInspected">Date Inspected:</label>
                        <input type="date" id="date" name="dateInspected" min="2022-01-01" value ='@DateTime.Today.ToString("yyyy-MM-dd")' required>
                    </div>
                    <div class="Element">
                        <label for="signature">Digital Signature: </label>
                        <input type="text" id="signature" name="signature" placeholder="Enter Your Name" required>
                    </div>
                    <div style="display:flex; align-items:center; justify-content: center">
                        <input type="submit" id="submit" name="submit" value="Submit" />
                    </div>
                </form>
            </div>
        }
        else
        {
            <div>
                <script>
                    setInterval(function() { countdown() }, 1000);
                    countdown();
                </script>
                <h4 style="text-align:center">
                    Your responses have been recorded<br />
                    You will be redirected to the <a href="/Home">Home Page<a /> in <span id="counter">7</span> second(s)...
                </h4>
            </div>
        }
    }
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_FormScriptsPartial");
    }
    }