<title>@ViewBag.Title</title>
@{
     ViewBag.Title = "Loader/Forklift Pre-Shift Inspection";
}

<div class="text-center">
    <h2>Loader/Forklift Pre-Shift Inspection</h2>
</div>

<div>
    <form id="loaderReplacements" method="post" runat="server">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <br />
        <br />
        <label for="equipNo">Equipment Number:</label>
        <select name="equipNo" required>
            <option value="" disabled selected>Select your option</option>
            @foreach(var Item in Model.LoaderReplacements)
            {
                if(Item.Type == "Equipment")
                {
                    <option value = "@Item.Data">@Item.Id</option>
                }
            }
        </select>
        <br />
        <br />
        <label for="hourMeter">Hour Meter Reading:</label>
        <input type="number" id="hourMeter" name="hourMeter" min="0" placeholder="0" required>
        <hr />
        <h3>Safety & Maintenance Items</h3>
        @{
            int q = 1;
            foreach(var Item in Model.LoaderReplacements)
            {
                string element = "question " + q;
                q++;           
                if(Item.Type == "Safety")
                {       
                    <p>
                    <b>@Item.Data</b><br/>
                    @if(Item.Id == "ANY OTHER DEFECTS")
                    {                       
                        <input type = "radio" id="none" name = "@Item.Id" value="None" onclick="change('@element')" required>
                        <label for="none">None</label>
                    }
                    else
                    {
                        <input type = "radio" id="good" name = "@Item.Id" value="Good" onclick="change('@element')" required>
                        <label for="good">Good</label>
                    }                                 
                    <input type = "radio" id="caution" name = "@Item.Id" value="Caution" onclick="tag_clicked('@element')">
                    <label for="caution">Caution</label>
                    <input type = "radio" id="tag-out" name = "@Item.Id" value="Tag-Out" onclick="tag_clicked('@element')">
                    <label for="tag-out">Tag-Out</label><br/>
                    <input type ="text" id="@element" name="@Item.Id" placeholder="Enter Comment" style="display: none;">
                    </p>
                }          
            }
        }
        <script>
            function tag_clicked(id) {
                document.getElementById(id).style.display = "inline";
                document.getElementById(id).required = true;
            }
        </script>
        <script>
            function change(id){
                document.getElementById(id).style.display = "none";
                document.getElementById(id).required = false;
            }
        </script>
        <hr />
        <h3>Corrections Made For Tag Out</h3>
        <label for="dateCorrected">Date Corrected:</label>
        <input type="date" id="dateCorrected" name="dateCorrected">
        <br />
        <br />
        <label for="tagOut">Tag Out Corrected By:</label>
        <select name="tagOut">
            <option value="" disabled selected>Select your option</option>
            @foreach(var Item in Model.LoaderReplacements)
            {
                if(Item.Type == "Employee")
                {
                    <option value = "@Item.Id">@Item.Data</option>
                }
            }
        </select>
        <br />
        <br />
        <label for="correctionDesc">Description of Correction Made:</label>
        <input type="text" id="correctionDesc" name="correctionDesc">
        <br />
        <br />       
        <label for="sign">Digital Signature</label>
        <input type="text" id="sign" name="sign">
        <hr />
        <label for="operatorName">Operators Name:</label>
        <select name="operatorName" required>
            <option value="" disabled selected>Select your option</option>
            @foreach(var Item in Model.LoaderReplacements)
            {
                if(Item.Type == "Employee")
                {
                    <option value = "@Item.Id">@Item.Data</option>
                }
            }
        </select>
        <br />
        <br />
        <label for="dateInspected">Date Inspected:</label>
        <input type="date" id="dateInspected" name="dateInspected" required>
        <br />
        <br />
        <label for="digitalSignature">Digital Signature</label>
        <input type="text" id="digitalSignature" name="digitalSignature">
        <br />
        <br />
        <div style="display:flex; align-items:center; justify-content: center">
                <input type="submit" id = "submit" name="submit" value="Submit"/>
        </div>
    </form>
</div>