<head>
    <title>Scale Tickets</title>
    <style type="text/css">
        label {
            background-color: pink;
            color: black;
            font-weight: bold;
            padding: 4px;
            text-transform: uppercase;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: xx-small;
        }

            label:after {
                content: ": ";
            }

        .Element {
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    <div style="padding-bottom:20px" class="text-center">
        <h2>Scale Tickets</h2>
    </div>
    @{
        if (ViewBag.SuccessMessage == null)
        {
            <form id="scaleTickets" method="post" runat="server">
                <div style=padding: 15px; min-width:100px; display: inline-block">
                    <div class="Element">
                        <label for="ticketNumber">Ticket Number</label>
                        <input type="number" id="ticketNumber" min="0" name="ticketNumber" required>
                    </div>
                    <div class="Element">
                        <label for="ticketDate">Ticket Date</label>
                        <input type="date" id="ticketDate" name="ticketDate" value ='@DateTime.Today.ToString("yyyy-MM-dd")' required>
                    </div>
                    <div class="Element">
                        <label for="customerList">Customer List</label>
                        <select name="customerList">
                            @foreach (var Item in Model.ScaleTickets)
                            {
                                if (Item.Type == "Customer")
                                {
                                    <option value="@Item.Id">@Item.Id</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="Element">
                        <label for="productList">Product List</label>
                        <select name="productList">
                            @foreach (var Item in Model.ScaleTickets)
                            {
                                if (Item.Type == "Product")
                                {
                                    <option value="@Item.Id">@Item.Id</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="Element">
                        <label for="jobName">Job Name</label>
                        <input type="text" id="jobName" name="jobName" required>
                    </div>
                    <div class="Element">
                        <label for="grossWeight">Gross Weight</label>
                        <input type="number" id="grossWeight" step="0.01" min="0" name="grossWeight" placeholder="0" onkeyup="calculateNetWeight()" required>
                    </div>
                    <div class="Element">
                        <label for="tareWeight">Tare Weight</label>
                        <input type="number" id="tareWeight" step="0.01" min="0" name="tareWeight" placeholder="0" onkeyup="calculateNetWeight()" required>
                    </div>
                    <div style="display:flex; flex-direction:row; align-items: center">
                        <label for="netWeight">Net Weight</label>
                        <div id="calculatedNetWeight" style="padding-left: 10px;">0</div>
                    </div>
                    <div class="Element">
                        <label for="digitalSignature">Digital Signature</label>
                        <input type="text" id="digitalSignature" name="digitalSignature" required>
                    </div>
                    <div style="display:flex; align-items:center; justify-content: center">
                        <input type="submit" id="submit" name="submit" value="Submit" />
                    </div>

                </div>
            </form>
            <script type="text/javascript">
                function calculateNetWeight() {
                    var txtFirstNo = document.getElementById('grossWeight').value;
                    var txtSecondNo = document.getElementById('tareWeight').value;
                    var result = parseFloat(txtFirstNo) - parseFloat(txtSecondNo);
                    if (!isNaN(result) && result > 0) {
                        document.getElementById('calculatedNetWeight').innerHTML = result;
                        document.getElementById('submit').disabled = false;
                    }
                    else if (result < 0) {
                        document.getElementById('calculatedNetWeight').innerHTML = result;
                        document.getElementById('submit').disabled = true;
                    }
                    else if (result == 0) {
                        document.getElementById('calculatedNetWeight').innerHTML = '0';
                        document.getElementById('submit').disabled = false;
                    }
                    else {
                        document.getElementById('calculatedNetWeight').innerHTML = '0';
                        document.getElementById('submit').disabled = true;
                    }
                }
            </script>
        }
        else
        {
            <div>
                <script>
                    setInterval(function() { countdown() }, 1000);
                    countdown();
                </script>
                <h4 style="text-align:center">
                    Your responses have been recorded<br />
                    You will be redirected to the <a href="/Home">Home Page<a /> in <span id="counter">7</span> second(s)...
                </h4>
            </div>
        }
    }
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_FormScriptsPartial");
    }
    }